/* Setting image limits and allow it to float to the left of the text */
#image {
    max-width: 150px;
    height: auto;
    float: left;
    padding-right: 10px;
}
/* Sets the background color for the heading */
h1 {
    background-color: rgb(137, 137, 239);
}
/* Sets the width for the wrapper of the main content and centers it*/
.wrapper {
    width: 700px;
    margin: 0 auto;
}
/* sets a clearfix for the  */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

dl {
    background-color: rgb(137, 137, 239);
}
/* Setting the description list font style */
dt {
    font-size: 1.15rem;
    font-weight: bold;
}
/* Setting the description list data style */
dd {
    margin-left: 0;
}